@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 30 33% 97%;
    --background-gradient-from: 30 33% 97%;
    --background-gradient-to: 30 20% 91%;
    --foreground: 0 0% 17%;

    --card: 38 38% 94%;
    --card-foreground: 0 0% 17%;

    --popover: 38 38% 94%;
    --popover-foreground: 0 0% 17%;

    --primary: 35 24% 70%;
    --primary-foreground: 0 0% 17%;

    --secondary: 38 38% 94%;
    --secondary-foreground: 0 0% 17%;

    --muted: 51 10% 62%;
    --muted-foreground: 51 10% 62%;

    --accent: 33 24% 44%;
    --accent-foreground: 38 38% 94%;

    --whatsapp: 142 70% 49%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 38 38% 94%;

    --border: 30 20% 91%;
    --input: 30 20% 91%;
    --ring: 35 24% 70%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 35 24% 70%;
  }

  .dark {
    --background: 33 24% 20%;
    --background-gradient-from: 33 24% 20%;
    --background-gradient-to: 33 20% 15%;
    --foreground: 38 38% 94%;

    --card: 33 24% 25%;
    --card-foreground: 38 38% 94%;

    --popover: 33 24% 25%;
    --popover-foreground: 38 38% 94%;

    --primary: 35 24% 70%;
    --primary-foreground: 0 0% 17%;

    --secondary: 33 20% 30%;
    --secondary-foreground: 38 38% 94%;

    --muted: 51 10% 40%;
    --muted-foreground: 51 10% 62%;

    --accent: 33 24% 44%;
    --accent-foreground: 38 38% 94%;

    --whatsapp: 142 70% 49%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 38 38% 94%;

    --border: 33 20% 30%;
    --input: 33 20% 30%;
    --ring: 35 24% 70%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 35 24% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-gradient-to-b from-[hsl(var(--background-gradient-from))] to-[hsl(var(--background-gradient-to))] text-foreground font-inter;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-playfair;
  }
}
